.event-box {
    max-width: 1436px;
    width: 83%;
    min-width: 1100px;
    margin: 0 auto 20px auto;
    border-radius: 12px;
    border: 1px solid var(--Purble, #A5A5CC);
    background: var(--off-black-40, rgba(30, 28, 34, 0.40));
    box-sizing: border-box;
    display: flex;
}

.event-content {
    padding: 40px;
    display: flex;
    flex-direction: column;
    border-right: 1px solid var(--Purble, #A5A5CC);;
}

.logistics-text {
    margin: -20px 0 -20px 0;
}

.event-logistics {
    display: flex;
    align-items: center;
    color: var(--White, #FFF);
    font-family: Poppins;
    font-size: 20px;
    font-weight: 400;
}

.star-img {
    width: 40px;
    height: 40px;
    margin-right: 16px;
}

.event-info {
    margin-top: auto;
}

.event-title {
    color: var(--White, #FFF);
    font-family: Poppins;
    font-size: 40px;
    font-weight: 400;
    margin-bottom: 32px;
}

.event-descr {
    color: var(--White, #FFF);
    font-family: Poppins;
    font-size: 20px;
    font-weight: 400;
    margin: -20px 0px -20px 0;
}

.event-img {
    /* height: 490px; */
    /* width: 718px; */
    width: 50%;
    border-radius: 0px 12px 12px 0px;
}

@-moz-document url-prefix(){
    .event-img {
        width: 50%;
    }
}

.last-event {
    margin-bottom: 80px;
}


/* 1300px */
@media only screen and (max-width: 1300px) {
    .event-box {
        width: 83%;
        flex-direction: column-reverse;
        min-width: 0px;
    }

    .event-img {
        width: 100%;
        border-radius: 12px 12px 0 0;
        border: 0 0 1px 0;
    }
}

@media only screen and (max-width: 1024px) {
    .event-box {
        /* width: 543px; */
        width: 94%;
    }

    .event-content {
        padding: 33.16px;
    }

    .star-img {
        width: 32px;
        height: 32px;
        margin-right: 11.05px;
    }

    .event-title {
        font-size: 32px;
    }
}

/* mobile */
@media only screen and (max-width: 450px) {
    .event-box {
        /* width: 393px; */
        width: 92%;
        flex-direction: column-reverse;
        margin: 0 auto 20px auto;
    }

    .event-img {
        width: 100%;
        border-radius: 12px 12px 0 0;
        border: 0 0 1px 0;
    }

    .event-content {
        padding: 24px;
    }

    .star-img {
        width: 20px;
        height: 20px;
        margin-right: 8px;
    }

    .event-logistics {
        font-size: 16px;
    }

    .event-title {
        font-size: 24px;
    }

    .event-descr {
        font-size: 16px;
    }
}