#past_events {
    position: relative;
}

.heading {
    display: flex;
    padding: 10px 0px;
    align-items: center;
    gap: 10px;
    max-width: 1436px;
    min-width: 1100px;
    width: 83%;
    /* margin: 244px auto 20px auto; */
    margin: 225px auto 20px auto;
}

@media only screen and (max-width: 1300px) {
    .heading {
        width: 83%;
        min-width: 0px;
        /* margin-top: 16%; */
        margin-top: 200px;
    }
}

@media only screen and (max-width: 1024px) {
    .heading {
        width: 94%;
        /* margin-top: 15%; */
        margin-top: 125px;
    }
}

@media only screen and (max-width: 450px) {
    .heading {
        width: 92%;
        /* margin-top: 15%; */
        margin-top: 100px;
    }
}