/*Title*/

.page-title {
    padding-bottom: 10px;
    color: #F5F5F5;
    font-size: 40px;
    font-weight: 600;
    line-height: 104.5%; /* 41.8px */
    letter-spacing: 0.8px;
}

/* Team Container */

.team-info-container {
    display: flex;
    width: 100%;
    align-items: flex-end;
    align-content: flex-end;
    gap: 19px;
    flex-wrap: wrap;
    max-width: 4800px;
}

.team-contents-container {
    display: flex;
    flex-direction: row;
}


/*About Team Container */

.team-ctr {
    display: flex;
    flex-direction: column;
}

.about-team-container {
    display: flex;
    flex-direction: column;

    padding-left: 160px;
    padding-right: 250px;
    padding-top: 250px;
}

/* Section Links */

#teams-title {
    font-size: 24px;
    font-weight: 500;
}

.section-links-content {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.section-links {
    display: flex;
    flex-direction: column;
    padding-top: 80px;
    position: fixed;

}

.team-list-items {
    display: flex;
    flex-direction: column;
    padding-left: 0px;
    list-style: none;

}

.links{
    color: var(--White, #FFF);
    font-size: 20px;
    font-weight: 400;

}

.links:hover{
    background-color: #90FFD4;
    background-image: linear-gradient(60deg, #90FFD4, #67AFE0, #737CFE, #E57EFF);
    /* background-size: 100%; */
    background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
  }

.links:link {
    text-decoration: none;
}

/* Mid Section Container */

.mid-section-ctr {
    display: flex;
    flex-direction: column;
    padding-left: 255px;
}