/*Title*/

.page-title {
    padding-bottom: 10px;
    font-size: 40px;
    font-weight: 600;
    line-height: 104.5%; /* 41.8px */
    letter-spacing: 0.8px;
    display: flex;
    padding-left: 270px;
}

/* Team Container */

.team-contents-container {
    display: flex;
    flex-direction: column;

}

.about-team-container {
    display: flex;
    flex-direction: column;

    padding-left: 160px;
    padding-right: 250px;
    padding-top: 200px;
}

.testing {
    display: flex;
    flex-direction: row;
}

/* Section Links */

#teams-title {
    font-size: 24px;
    font-weight: 500;
}

.section-links-content {
    display: flex;
    flex-direction: row;
    gap: 20px;
    white-space: nowrap;

}

.section-links {
    display: flex;
    flex-direction: column;
    position: fixed;
}



.vertile-rule {
    margin: 0;
}

.team-list-items {
    display: flex;
    flex-direction: column;
    padding-left: 0px;
    list-style: none;
    gap: 10px;

}

.links{
    color: var(--White, #FFF);
    font-size: 20px;
    font-weight: 400;

}

.links:hover{
    background-color: #90FFD4;
    background-image: linear-gradient(60deg, #90FFD4, #67AFE0, #737CFE, #E57EFF);
    background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
  }

.links:link {
    text-decoration: none;
}

/* Mid Section Container */

.mid-section-ctr {
    display: flex;
    flex-direction: column;
    padding-left: 270px;
}

@media only screen and (max-width: 1024px) {

    .team-contents-container {
        display: flex;
    }

    .about-team-container {
        padding-left: 16px;
        padding-right: 16px;
        padding-top: 140px;
    }

    .vertile-rule {
        display: none;
    }

    #teams-title {
        display: none;
    }

    .section-links-content {
        display: flex;
        flex-direction: row;
        gap: 0px;
    }

    .section-links {
        display: flex;
        flex-direction: column;
        padding-top: 0px;
        overflow-x: scroll;
        position: static;
    }

    .section-links::-webkit-scrollbar {
        display: none;
    }

    .section-links {
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
    }

    .team-list-items {
        display: flex;
        flex-direction: row;
        gap: 20px;
        padding-left: 0px;
        list-style: none;

    }

    .links {
        display: flex;
        flex-wrap: nowrap;
        color: var(--White, #FFF);
        font-size: 20px;
        font-weight: 400;
        width: 179px;
        justify-content: center;
    }

    .links:link {
        display: flex;
        padding: 16px;
        align-items: center;
        gap: 16px;
        text-decoration: none;
        border-radius: 8px;
        background: rgba(30, 28, 34, 0.40);
    }

    .links:hover{
        background-color: var(--off-black-40, rgba(30, 28, 34, 0.40));
        background-image: white;
        -moz-background-clip: text;
        -webkit-text-fill-color: white;
        -moz-text-fill-color: white;
      }

    .page-title {
        padding-left: 0px;
    }

    .mid-section-ctr {
        padding-left: 0px;
        padding-top: 20px;
        align-items: center;
    }

    .testing {
        flex-direction: column;

    }


}

@media only screen and (max-width: 450px) {

    .about-team-container {
        padding-top: 100px;
    }

    .page-title {
        font-size: 24px;
    }

    .links {
        font-size: 16px;
        width: 150px;
        justify-content: center;
        height: 20px;
    }

}
