.team-member-ctr {
    display: flex;
    flex-direction: column;
    width: 17rem;
    gap: 0.625rem;
    border-radius: 0.5rem;
    border: 0.1rem solid #A5A5CC;
    background: rgba(30, 28, 34, 0.40);
    overflow: hidden;

}

.team-member-text {
    padding-bottom: 0.75rem;
    padding-right: 0.144rem;
}

.team-member-name, .team-member-title {
    font-weight: 400;
    padding-left: 0.75rem;
}

.team-member-name {
    font-size: 1.25rem;
}

.team-member-title {
    font-size: 1rem;
}

.team-member-img {
    width: 17rem;
    height: 17rem;
    flex-shrink: 0;
    border-radius: 0.5rem;
    object-fit: cover;

}

@media only screen and (max-width: 1024px) {
    .team-member-ctr {
        gap: 0.625rem;
    }

    .team-member-img {
        width: 100%;
        max-width: 33.938rem;
    }

    .team-member-img img{
        width: 53.3%;
        max-width: 33.938rem;
    }
}