.team-container {
    position: relative;
}

.team-member-list {
    display: flex;
    gap: 1.188rem;
    flex-wrap: wrap;
    padding-bottom: 5rem;
    padding-top: 1.313rem;

}

/* Team Header */
.team-header {
    font-size: 2.5rem;
    font-weight: 400;
}

.team-box {
    display: flex;
    align-items: center;
    border-radius: 0.736rem;
    border: 0.063rem solid #A5A5CC;
    background: rgba(30, 28, 34, 0.40);
    padding-left: 1.25rem;
    gap: 1.25rem;
    height: 6rem;
    max-width: 71rem;
}

.star-logo {
    width: 3rem;
}

@media only screen and (max-width: 1024px) {

    .team-header {
        font-size: 2rem;
    }
    .team-box {
        width: 95%;
        height: 4rem;
    }

    .star-logo {
        width: 2rem;
    }

    .team-member-list {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 1.25rem;
        justify-content: center;
    }

    .team-container {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

}

@media only screen and (max-width: 450px) {

    .team-header {
        font-size: 1.25rem;
    }

    .star-logo {
        width: 1.25rem;
    }

    .team-box {
        width: 93%;
        gap: 0.75rem;
        padding-left: 1rem;
    }

}

