.speaker-box {
    max-width: 1145px;
    width: 67%;
    min-width: 800px;
    height: 337px;
    /* height: auto; */
    margin: 20px auto 0 auto;
    border: 1px solid #A5A5CC;
    border-radius: 12px;
    background: var(--off-black-40, rgba(30, 28, 34, 0.40));
    display: flex;
}

.speaker-photo {
    width: 337px;
    height: 337px;
    border-right: 1px solid #A5A5CC;
    border-radius: 12px 0 0 12px;
}

.speaker-content {
    margin: 40px 40px 0 40px;
    display: flex;
    flex-direction: column;
    align-content: center;
    height: auto;
}

.speaker-name {
    font-size: 24px;
    font-weight: 600;
    margin: -3px 0 -6px 0;
}

.speaker-title {
    font-size: 16px;
    font-weight: 400;
    margin: 16px 0 32px 0;
}

.speaker-descr-box {
    margin-bottom: 40px;
    overflow-y: auto;
}

.speaker-descr {
    font-size: 20px;
    font-weight: 400;
    margin-block-start: -1em;
}

/* Scrollbar */
.speaker-descr-box::-webkit-scrollbar {
    width: 6px;
    height: 12px;
}
    
::-webkit-scrollbar-thumb {
border-radius: 12px;
background: #bababa;  
}

::-webkit-scrollbar-thumb:hover {
background: #9f9f9f;  
}

.last-person {
    margin-bottom: 80px;
}

/* tablet */
@media only screen and (max-width: 1024px) {
    .speaker-box {
        /* width: 543px; */
        width: 94%;
        min-width: 0px;
        height: auto;
        flex-direction: column;
        margin: 20px auto 0 auto;
    }
 
    .speaker-photo {
        width: 100%;
        height: auto;
        border-radius: 12px 12px 0 0;
        border-bottom: 1px solid #A5A5CC;
    }

    .speaker-content {
        margin: 24px;
    }

    .speaker-title {
        font-size: 16px;
        font-weight: 400;
        margin: 16px 0 32px 0;
    }

    .speaker-descr-box {
        margin-bottom: -16px;
    }

    .speaker-descr {
        font-size: 16px;
    }
 }
 
 
 /* mobile */
 @media only screen and (max-width: 450px) {
    .speaker-box {
        /* width: 393px; */
        width: 92%;
    }
 }
 