.speaker-box {
    /* width: 1145px; */
    width: 66.3%;
    /* height: 337px; */
    /* height: auto; */
    margin: 24px auto 0 auto;
    border: 1px solid #A5A5CC;
    border-radius: 12px;
    background: var(--off-black-40, rgba(30, 28, 34, 0.40));
    display: flex;
}

.speaker-photo {
    width: 337px;
    height: 337px;
    border-right: 1px solid #A5A5CC;
    border-radius: 12px 0 0 12px;
}

.speaker-content {
    margin: 40px;
    display: flex;
    flex-direction: column;
    align-content: center;
    height: auto;
}

.speaker-name {
    font-size: 24px;
    font-weight: 600;
    margin: -3px 0 -6px 0;
}

.speaker-title {
    font-size: 16px;
    font-weight: 400;
    margin: 8px 0 16px 0;
}

.speaker-descr {
    font-size: 20px;
    font-weight: 400;
    margin: -20px 0 -20px 0;
}

.last-person {
    margin-bottom: 420px;
}