.speaker-container {
    width: 66.3vw;
    margin-left: auto;
    margin-right: auto;
}

.speaker-box {
    border-radius: 12px;
    border: 0.654px solid #A5A5CC;
    /* background: rgba(30, 28, 34, 0.40); */
    background: #1E1C22;
    opacity: 50%;
    /* padding: 24px; */
    /* width: 66%; */
    width: 66.3vw;
    height: 15.74vw;
    /* width: 1145px; */
    margin-left: auto;
    margin-right: auto;
    /* margin-left: 16.9vw; */
    /* margin-right: 16.9vw; */
    /* margin-bottom: 24px; */
    margin-bottom: 1.4vw;
    box-sizing: border-box;
}

.speaker-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 1.9vw;
}

.speaker-img {
    object-fit: cover;
    /* margin-right: 20px; */
    margin-right: 1.9vw;
    border-radius: 12px 0 0 12px;
    border: 0.654px solid #A5A5CC;
    /* width: 100%;
    height: 100%; */
    /* width: 272px; */
    /* height: 272px; */
    width: 15.74vw;
    height: 15.74vw;
}

.speaker-profile {
    align-items: center;
    /* padding-top: 24px; */
    /* padding-bottom: 24px; */
    vertical-align: middle;
    /* padding-left: 2.14vw; */
    /* height: fit-content; */
}

.speaker-name {
    color: #FBFBFB;
    font-family: Poppins;
    /* font-size: 16px; */
    font-size: 0.93vw;
    font-style: normal;
    font-weight: 600;
    line-height: 136.9%; /* 21.904px */
    letter-spacing: 0.32px;
    margin-top: 2.26vw;
    /* vertical-align: middle; */
    /* margin-top: 39px; */
}

.speaker-descr {
    color: #FBFBFB;
    font-family: Poppins;
    /* font-size: 20px; */
    font-size: 1.16vw;
    font-style: normal;
    font-weight: 400;
    line-height: 136.9%; /* 27.38px */
    letter-spacing: 0.4px; 
    /* vertical-align: middle; */
    /* margin-bottom: 39px; */
}