@import url('https://fonts.googleapis.com/css2?family=Poppins');

.header-box {
    width: 1145px;
    border: 1px solid #A5A5CC;
    border-radius: 12px;
    background: var(--off-black-40, rgba(30, 28, 34, 0.40));
    margin: 0 auto 0 auto;
}

.header-content {
    display: flex;
    align-items: center;
    margin: 24px;
}

.star-img {
    width: 48px;
    height: 48px;
    margin-right: 20px;
}

.header-text {
    font-size: 40px;
    font-weight: 400;
    margin: -10px 0 -10px 0;
    padding: 0;
}

.performer-box {
    margin-top: 100px;
}