@import url('https://fonts.googleapis.com/css2?family=Poppins');

.header-box {
    max-width: 1145px;
    width: 67%;
    min-width: 800px;
    border: 1px solid #A5A5CC;
    border-radius: 12px;
    background: var(--off-black-40, rgba(30, 28, 34, 0.40));
    /* margin: 276px auto 0 auto; */
    margin: 225px auto 0 auto;
}

.header-content {
    display: flex;
    align-items: center;
    margin: 24px;
}

.star-img {
    width: 48px;
    height: 48px;
    margin-right: 20px;
}

.header-text {
    font-size: 40px;
    font-weight: 400;
    margin: -10px 0 -10px 0;
    padding: 0;
}

.performer-box {
    margin-top: 60px;
}

/* 1300px */
@media only screen and (max-width: 1300px) {
    .header-box {
        /* margin-top: 16%; */
        margin-top: 200px;
    }
}

/* tablet */
@media only screen and (max-width: 1024px) {
    .header-box {
        /* width: 543px; */
        width: 94%;
        min-width: 0px;
        /* margin-top: 20%; */
        margin-top: 125px;
    }

    .header-content {
        margin: 16px;
    }

    .star-img {
        width: 32px;
        height: 32px;
        margin-right: 12px;
    }

    .header-text {
        font-size: 32px;
    }
}

/* mobile */
@media only screen and (max-width: 450px) {
    .header-box {
        /* width: 543px; */
        width: 92%;
        /* margin-top: 15%; */
        margin-top: 100px;
    }

    .header-content {
        margin: 16px;
    }

    .star-img {
        width: 20px;
        height: 20px;
        margin-right: 12px;
    }

    .header-text {
        font-size: 20px;
    }
}