

#navbar {
  display: flex;
  flex-direction: row;
  font-family: "Poppins", sans-serif;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  position: fixed;
  padding-left: 6%;
  overflow: hidden;
  padding-right: 6%;
  padding-top: 4.75%;
  padding-bottom: 12%;
  font-size: 1.5rem;
  background: var(--Off-Black-Gradient, linear-gradient(180deg, #1E1C22 0%, rgba(0, 0, 0, 0.00) 88.59%));
}

/* make new section for non button links and adjust its width to move it away
from the button */

#dropdown-arrow{
  display: flex;
  flex-direction: row;
  align-content: center;
}

.arrow {
  width: 1.5rem;
  height: 1.5rem;
  padding: 0.4rem;
}

.dropdown:hover .arrow, .arrow:hover {
  transform: rotate(-180deg);
  -webkit-transition: -webkit-transform 0.4s ease-in;
  width: 1.5rem;
  height: 1.5rem;
  padding: 0.4rem;
}

#left-nav {
  align-items: center;
  width: 80%;
}



#right-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70%;
}

#right-nav-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 15px;
  /* width: 60%; */
}

.dropdown {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.drop-cover {
  border: none;
  outline: none;
  text-align: left;
  width: fit-content;
  color: white;
  /* background-color: inherit; */
  font-size: 1.5rem;
  height: fit-content;
  margin: 0px;
  font-family: inherit;
  margin: 0;
}

.dropdown-content {
  display: flex;
  flex-direction: column;
  display: none;
  position: absolute;
  z-index: 1;
  padding-top: 35px;
}

.dropdown-content a {
  display: block;
}

.hover-dropdown-content {
  display: flex;
  flex-direction: column;
}

#right-nav a {
  text-decoration: none;
  color: #FFF;
  margin-right: 1.25rem;
}

.dropdown:hover .dropdown-content {
  display: block;
}

#right-nav a:hover, .dropdown:hover .drop-cover{
  text-decoration: none;
  background-color: #90FFD4;
  background-image: linear-gradient(60deg, #90FFD4, #67AFE0, #737CFE, #E57EFF);
  background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

#navbar .ticket-btn button{
  padding: 0.8rem 1.3rem;
  overflow: hidden;
  white-space: nowrap;
  font-size: 90%;
  margin-left: 10%;
}

#small-screen {
  display: none;
}



@media only screen and (max-width: 1024px) {
  #small-screen {
    display: block;
    /* overflow: hidden; */
    width: 60%;
    height: 100%;
  }

  #small-screen img {
    height: 20px;
    float: right;
  }

  #side-menu-icon-clicked {
    display: none;
  }

  #small-screen .ticket-btn button {
    margin-left: 0px;
    font-size: 90%;
    overflow: hidden;
    white-space: nowrap;
  }

  #small-screen .ticket-btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 1rem;
    padding-top: 2rem;
    margin-right: 1rem;
    margin-left: 1rem;
    border-bottom: 1px solid var(--Purble, #A5A5CC);
  }

  #nav-logo {
    width: 175px;
  }

  #navbar {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }

  #navbar-with-side-menu{
    display: flex;
    flex-direction: row;
    height: 100%;
    background: var(--Off-Black-Gradient, linear-gradient(180deg, #1E1C22 0%, rgba(0, 0, 0, 0.00) 88.59%));
    width: 100%;
    position: fixed;
    overflow: hidden;
    font-size: 1.5rem;
    z-index: 10;
  }

  #nav-logo-clicked {
    padding-left: 10.5%;
    padding-top: 8.5%;
    opacity: 70%;
    width: 175px;
  }

  .side-menu-content {
    display: none;
    z-index: 10;
  }

  .side-menu-content-clicked a {
    padding: 0.625rem;
    margin-left: 4px;
    text-decoration: none;
  }

  #first-link {
    padding-top: 1.5rem;
  }

  .side-menu-content-clicked {
    display: flex;
    flex-direction: column;
    border-radius: 0.5rem 0rem 0rem 0.5rem;
    border: 1px solid var(--Purble, #A5A5CC);
    background: var(--off-black-40, rgba(30, 28, 34, 0.40));
    z-index: 2;
    height: 100%;
  }

  #right-nav {
    display: none;
  }
}

/* for mobile
  change tix btn + .side-menu-content-clicked a font sizing
  change sizing of nav-logo + side-menu-icon

  general
  add line under tix div
  add animation for on click of icon
  */