#navbar {
  display: flex;
  flex-direction: row;
  font-family: "Poppins", sans-serif;
  align-items: flex-start;
  justify-content: space-between;
  padding-left: 6%;
  padding-right: 6%;
  padding-top: 4.75%;
  padding-bottom: 4.75%;
  font-size: 1.5rem;
  background: var(--Off-Black-Gradient, linear-gradient(180deg, #1E1C22 0%, rgba(0, 0, 0, 0.00) 88.59%));
}

/* make new section for non button links and adjust its width to move it away
from the button */

#dropdown-arrow{
  display: flex;
  flex-direction: row;
  align-content: center;
}

.arrow {
  width: 1.5rem;
  height: 1.5rem;
  padding: 0.4rem;
}

.rotated-arrow {
  transform: rotate(-180deg);
  -webkit-transition: -webkit-transform 0.4s ease-in;
  width: 1.5rem;
  height: 1.5rem;
  padding: 0.4rem;
}

#left-nav {
  align-items: center;
  width: 80%;
}

#right-nav {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 70%;
}

#right-nav-links {
  display: flex;
  justify-content: space-between;
  padding-top: 15px;
}

/* #nav-dropdown {
  background-color: black;
  color: #FFF;
  border: none;
  font-size: 100%;
  width: 150px;
}

#nav-dropdown:hover {
  background-color: #90FFD4;
  background-image: linear-gradient(80deg, #90FFD4, #67AFE0, #737CFE, #E57EFF);
  background-size: 100%;
  background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  background-color: black;
} */

.dropdown {
  display: flex;
  flex-direction: column;
}

/* FLEX logo and tix button to top */

.dropbtn {
  text-align: left;
  width: fit-content;
  font-size: 1.5rem;
  font-family: "Poppins", sans-serif;
  height:fit-content;
  margin: 0px;
}

.dropbtn:hover{
  text-decoration: none;
  background-color: #90FFD4;
  background-image: linear-gradient(60deg, #90FFD4, #67AFE0, #737CFE, #E57EFF);
  background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.dropdown-content {
  display: flex;
  flex-direction: column;
  visibility: hidden;
}

.hover-dropdown-content {
  display: flex;
  flex-direction: column;
}

#right-nav a {
  text-decoration: none;
  color: #FFF;
  margin-right: 1.25rem;
}


#right-nav a:hover {
  text-decoration: none;
  background-color: #90FFD4;
  background-image: linear-gradient(60deg, #90FFD4, #67AFE0, #737CFE, #E57EFF);
  /* background-size: 100%; */
  background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

#navbar .ticket-btn button{
  padding: 0.8rem 1.3rem;
}

