#navbar {
  display: flex;
  flex-direction: row;
  font-family: "Poppins", sans-serif;
  align-items: center;
  justify-content: space-between;
  padding-left: 6%;
  padding-right: 6%;
  padding-top: 4.75%;
  padding-bottom: 4.75%;
  font-size: 1.5rem;
  background: var(--Off-Black-Gradient, linear-gradient(180deg, #1E1C22 0%, rgba(0, 0, 0, 0.00) 88.59%));
  overflow: hidden;
}

/* make new section for non button links and adjust its width to move it away
from the button */

#dropdown-arrow{
  display: flex;
  flex-direction: row;
  align-content: center;
}

.arrow {
  width: 1.5rem;
  height: 1.5rem;
  padding: 0.4rem;
}

.dropdown:hover .arrow, .arrow:hover {
  transform: rotate(-180deg);
  -webkit-transition: -webkit-transform 0.4s ease-in;
  width: 1.5rem;
  height: 1.5rem;
  padding: 0.4rem;
}

#left-nav {
  align-items: center;
  width: 80%;
}

#right-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70%;
}

#right-nav-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 15px;
  /* width: 60%; */
}

.dropdown {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.drop-cover {
  border: none;
  outline: none;
  text-align: left;
  width: fit-content;
  color: white;
  /* background-color: inherit; */
  font-size: 1.5rem;
  height: fit-content;
  margin: 0px;
  font-family: inherit;
  margin: 0;
}

.dropdown-content {
  display: flex;
  flex-direction: column;
  display: none;
  position: absolute;
  z-index: 1;
  padding-top: 35px;
}

.dropdown-content a {
  display: block;
}

.hover-dropdown-content {
  display: flex;
  flex-direction: column;
}

#right-nav a {
  text-decoration: none;
  color: #FFF;
  margin-right: 1.25rem;
}

.dropdown:hover .dropdown-content {
  display: block;
}

#right-nav a:hover, .dropdown:hover .drop-cover{
  text-decoration: none;
  background-color: #90FFD4;
  background-image: linear-gradient(60deg, #90FFD4, #67AFE0, #737CFE, #E57EFF);
  background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

#navbar .ticket-btn button{
  padding: 0.8rem 1.3rem;
  overflow: hidden;
  white-space: nowrap;
  font-size: 90%;
  margin-left: 10%;
}

