.aboutus-header {
  display: flex;
  padding: 1rem;
  align-items: center;
  align-content: center;
  /* font-size: 1.5rem; */
  border-radius: 0.75rem;
  border: 1px solid var(--Purble, #A5A5CC);
  background: var(--off-black-40, rgba(30, 28, 34, 0.40));
  margin: 5rem 5rem 5rem 5rem;
}

.aboutus-header h1 {
  font-family: Poppins;
  font-size: 40px;
  font-weight: 400;
  line-height: 60px;
  letter-spacing: 0em;
  text-align: left;
}


#about_ted {
  margin-top: none;
}


#about_us {
  margin-top: 5%;
  margin-left: 7rem;
  margin-right: 7rem;
  position: relative;
  display: flex;
  margin-bottom: 5rem;
}

.content {
  /* display: flex; */
  gap: 5rem;
  margin: 0rem 5rem;
}

.star-img {
  width: 3rem;
  height: 3rem;
  margin-right: 1.25rem;
}

.content img {
  border-radius: 0.75rem;
  max-width: 100%;
  float: left;
}

.content p {
  color: var(--White, #FFF);
  font-family: Poppins;
  /* font-size: 1.5rem; */
  font-style: normal;
  font-weight: 400;
  max-width: 100%;
  height: fit-content;
  align-self: center;
  padding-top: 0rem;
  -webkit-mask-image: linear-gradient(180deg, #000 60%, transparent);
  transition: all 0.4s ease-out;
  -webkit-transition: all 0.4s ease-out;
  scrollbar-color: #A5A5CC;
  overflow-x: hidden;
}

/* scrollbar */
.content p:hover {
  /* margin-bottom: 0; */
  -webkit-mask-image: none;
  transition: all .4s ease;
  -webkit-transition: all .4s ease;
}

.content p::-webkit-scrollbar {
  width: 8px;
  height: 6px;
}

.content p:hover::-webkit-scrollbar-thumb {
  background: #A5A5CC;
}

.content p::-webkit-scrollbar-thumb {
  border-radius: 12px;
  background: transparent;
}

.content p::-webkit-scrollbar-thumb:hover {
  background: white;
}

.content p::-webkit-scrollbar-track-piece:end {
  background: transparent;
  margin-bottom: 10px;
}

.content p::-webkit-scrollbar-track-piece:start {
  background: transparent;
}

.content p:hover::-webkit-scrollbar-track-piece:start {
  background: transparent;
  margin-top: 10px;
}


#about_tedxuofw {
  display: flex;
  flex-direction: column;
}

.about-tedx-pic {
  width: 90%;
  border-radius: 0.75rem;
}

.about-tedx-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-tedx-text {
  width: 90%;
}


#about_us {
  flex-direction: column;
}

#links {
  align-items: center;
  color: white;
  display: flex;
  justify-content: space-evenly;
  /* padding-bottom: 2rem; */
  margin: 2rem 2rem 2rem 2rem;
}

#links a {
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

#links img {
  display: flex;
  height: 32px;
  width: 32px;
}

#links a:hover {
  opacity: 50%;
}

.aboutus-header h1 {
  margin: 0;
  align-items: start;
  padding: 0;
}

.desktop-only {
  display: visible;
}

/* Responsive CSS for large desktops: */
@media screen and (min-width: 1200px) and (max-width: 1530px) {
  .content img {
    max-width: 50%;
  }
}
@media screen and (min-width: 450px) {
  .mobile {
    display: none;
  }
}
/* Responsive CSS for tablets: */
@media screen and (max-width: 1024px) {
  #links a:hover {
    opacity: 100%;
  }
  .content a:hover {
    opacity: 100%;
  }
  .content {
    flex-direction: column;
    gap: 0rem;
  }
  .content img {
    max-width: 100%;
  }
  #links {
    flex-direction: column;
    padding-bottom: none;
    align-items: start;
    /* margin-left: 1rem; */
    gap: 1rem;
    margin: 3rem 3rem 3rem 3rem;
  }
  #links a {
    gap: 1rem;
  }
  .aboutus-header {
    margin: 2rem 2rem 2rem 2rem;
  }
  #about_us {
    margin-top: 8rem;
    margin-left: 2rem;
    margin-right: 2rem;
  }
  .desktop-only {
    display: none;
  }
  .aboutus-header h1 {
    font-family: Poppins;
    font-size: 32px;
    font-weight: 400;
    line-height: 48px;
    letter-spacing: 0em;
    text-align: left;
  }
}

/* Additional responsive CSS for mobile: */
@media screen and (max-width: 450px){
  .content {
    margin: 1rem 1rem 1rem 1rem;
  }
  #links img {
    max-height: 25px;
    align-items: start;
  }
  #about_us {
    margin-top: 7rem;
  }
  #about_ted .scroll {
    display: none;
  }
  .mobile {
    display: visible;
  }
  .aboutus-header h1 {
    font-family: Poppins;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
  }
  .aboutus-header .star-img {
    height: 20px;
    width: 20px;
  }
  .aboutus-header {
    margin: 1rem 1rem 1rem 1rem;
  }
  #links {
    margin: 2rem 3rem 3rem 1rem;
  }
}

/* Responsive CSS for laptops */
@media screen and (max-width: 1300px) {
  .content {
    flex-direction: column;
  }
}

#about_us .content img {
  margin-right: 20px;
}

.content a:hover {
  opacity: 50%;
}

.content p {
  padding: 22px 22px;
  align-content: center;
  /* height: auto; */
  overflow-y: auto;
  max-height: 280px;
  flex: 1;
  padding-top: 0rem;
  margin-top: 0rem;
}

@media screen and (max-width: 1201px) {
  #about_ted .content {
    display: flex;
    flex-direction: column;
    gap: 0rem;
  }
  #about_ted .scroll {
    max-height: 227px;
  }
  #about_ted .content img {
    margin-right: 0;
  }
  .content {
    display: flex;
    gap: 0;
  }
  .content img {
    margin-right: 0;
  }
}

@media screen and (max-width: 850px) {
  .content img {
    float: none;
  }
.aboutus-header {
    /* text-align: center; */
    gap: 0;
  }
  #about_tedxuofw .content img {
    margin-bottom: 0px;
  }
}

#about_tedxuofw .content img{
  max-width: 100%;
  margin-bottom: 20px;
}