.aboutus-header {
  display: flex;
  padding: 1rem;
  align-items: center;
  align-content: center;
  gap: 1.25rem;
  font-size: 1.5rem;
  border-radius: 0.75rem;
  border: 1px solid var(--Purble, #A5A5CC);
  background: var(--off-black-40, rgba(30, 28, 34, 0.40));
  margin: 5rem 5rem 5rem 5rem;
}

#about_us {
  margin-top: 15rem;
  margin-left: 7rem;
  margin-right: 7rem;
  position: relative;
}

.content {
  display: flex;
  gap: 5rem;
  margin: 0rem 5rem 0rem 5rem;
}

.star-img {
  width: 3rem;
  height: 3rem;
  margin-right: 1.25rem;
}

.content img {
  border-radius: 0.75rem;
  max-width: 90%;
  float: left;
}

#about_tedxuofw img {
  height: auto;
}

#about_tedx, #about_ted img {
  height: min-content;
}

.content p {
  color: var(--White, #FFF);
  font-family: Poppins;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  max-width: 100%;
  height: fit-content;
  align-self: center;
}

#about_us {
  flex-direction: column;
  /* align-items: flex-start; */
}

#links {
  align-items: center;
  color: white;
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 5rem;
}

#links a {
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 0.75rem;
  font-size: 1.25rem;
}

#links img {
  display: flex;
  height: 35px;
}

#links a:hover {
  opacity: 50%;
}

.aboutus-header h1 {
  margin: 0;
  align-items: start;
  padding: 0;
}
/* Responsive CSS for large desktops: */
@media screen and (min-width: 1200px) and (max-width: 1530px) {
  .content img {
    max-width: 50%;
  }
}
/* Responsive CSS for tablets: */
@media screen and (max-width: 1024px) {
  #links a:hover {
    opacity: 100%;
  }
  .content {
    flex-direction: column;
    gap: 0rem;
  }
  .content img {
    max-width: fit-content;
  }
  #links {
    flex-direction: column;
    padding-bottom: none;
    align-items: start;
    margin-left: 1rem;
    gap: 1rem;
  }
  #links a {
    gap: 1rem;
  }
  .aboutus-header {
    margin: 2rem 2rem 2rem 2rem;
  }
  #about_us {
    margin-top: 8rem;
    margin-left: 2rem;
    margin-right: 2rem;
  }
}

/* Additional responsive CSS for mobile: */
@media screen and (max-width: 450px){
  #about_us {
    margin-top: 7rem;
  }
  .content {
    margin: 2rem 2rem 2rem 2rem;
  }
  .aboutus-header {
    font-size: 1rem;
  }
  #links img {
    max-height: 25px;
    align-items: start;
  }
  #about_us {
    margin-top: 7rem;
  }
  #about_us p, a {
    font-size: 1rem;
  }
}

/* Responsive CSS for laptops */
@media screen and (max-width: 1300px) {
  .content {
    flex-direction: column;
  }
}

/* #about_ted p {
  /* float: right;
  /* margin: 5px; 
  overflow: hidden; 
  margin-left: 55%;
  /* width: 50%;
}

#about_ted .content img {
  width: 50%;
  float: left;
  /* margin-right: 1.25rem;
} */

/* #about_ted {
  display: flex;
  flex-wrap: wrap;
}

#about_ted .content {
  flex: 1 1 auto;
}

#about_ted .content img {
  width: 50%;
  /* border-radius: 0.75rem;
  max-width: 90%;
} */