.header-box {
  border: 1px solid #A5A5CC;
  border-radius: 0.75;
  background: var(--off-black-40, rgba(30, 28, 34, 0.40));
  display: flex;
  align-items: center;
  margin: 1.5;
}

.content {
  display: flex;
  gap: 5rem;
  margin-top: 5rem;
  margin-left: 15rem;
}

.star-img {
  width: 3rem;
  height: 3rem;
  margin-right: 1.25rem;
}

.content img {
  height: auto;
  border-radius: 0.75rem;
  color: rgba(255, 255, 255, 0.80);
  margin-left: 10rem;
}

.content p {
  width: 30%;
  color: var(--White, #FFF);
  font-family: Poppins;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
}

#about_us {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10rem;
}

#contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5rem;
}

#icons {
  align-items: flex-start;
  color: white;
}

#icons a {
  text-decoration: none;
}

#icons img {
  display: flex;
  height: 2rem;
  width: 2rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#icons a:hover {
  opacity: 50%;
}

/* h1 {
  display: flex;
  padding: 10px 0px;
  align-items: center;
  gap: 10px;
  margin: none !important;

  color: var(--White, #FFF);
  font-family: Poppins;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 400;
} */