html,
body,
#root,
.App {
    display: flex;
    flex-direction: column;
    font-family: "Poppins", sans-serif;
    margin: 0;
    overflow-x: hidden;
}

.App {
    background-size: cover;
    background-color: #0B0D26;
    color: white;
}

:root {
    --white: #FFFFFF;
    --Button-Aurora: linear-gradient(
        90deg,
        #90FFD4 0%,
        #67AFE0 33.06%,
        #737CFE 65.67%,
        #E57EFF 100%
        );

}

a:link, a:visited, a:active, a:hover {
    color: var(--white);
}
