html,
body,
#root,
.App {
    display: flex;
    flex-direction: column;
    font-family: "Poppins", sans-serif;
    margin: 0;
}

.App {
    background-size: cover;
    background-color: black;
    color: white;
}

:root {
    --white: #FFFFFF;
}
