#friends {
  display: flex;
  margin-top: 7%;
  position: relative;
  flex-direction: column;
  align-items: center;
}

#friends-bucket {
  display: flex;
  align-items: center;
  flex-direction: row;
  align-self: flex-start;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2.5rem;
  padding-bottom: 9rem;
  padding-top: 2.0rem;
  width: 80%;
  align-self: center;
}

.friends-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 21.5rem;
  height: 16.25rem;
  text-align: center;
  overflow: hidden;
  border-radius: 0.75rem;
  border: 1px solid var(--Purble, #A5A5CC);
  background: var(--off-black-40, rgba(30, 28, 34, 0.40));
}

#friends-card img {
  max-width: 15rem;
  max-height: 13rem;
}

.friends-box:hover {
  overflow-y: scroll;
  scrollbar-width: none;
  background-color: rgb(16, 5, 40);
  transition: background-color .5s ease-out;
  -moz-transition: background-color .5s ease-out;
  -webkit-transition: background-color .5s ease-out;
  -o-transition: background-color .5s ease-out;
}

.friends-box p {
  margin: 0.3rem;
}

#long-text {
  margin-top: 6.5rem;
}

#friends-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: auto;
}

#friends-header {
  font-size: 32px;
  font-weight: 600;
  font-family: 'Poppins', sans-serif;
}

.hover-friends-logo {
  display: none;
}


/*Ro Container*/

.ro-container {
  margin-bottom: 5rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.25rem;
  width: 80%;
}

/* Venue & What is TEDx */
.ro-contents-ctr {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 3.75rem;

}

.ro-img-container img{
  width: 20vw;
  border-radius: 1.25rem;
}

.ro-text, .ro-link {
  font-size: 1.157vw;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

}

.ro-text:hover, .ro-link:hover {
  cursor: pointer;
}

.ro-link {
  text-decoration-line: underline;
}

.ro-title {
    color: var(--white);
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

@media only screen and (max-width: 1024px) {
  #friends {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #friends-bucket {
    padding-top: 1rem;
  }

  .ro-title {
    font-size: 1.563rem;
  }

  .box {
      padding-left: 1.25rem;
      gap: 1.25rem;
      height: 4.063rem;
  }

  .star-icon {
      width: 4vw;
  }

  .ro-container {
    justify-content: center;
    align-items: flex-start;
    gap: 1.25rem;
    margin-left: 0rem;
    width: 72%;
  }

  .ro-contents-ctr {
    flex-direction: column;
    align-items: center;
    gap: 1.25rem;
  }
  .ro-img-container img{
    width: 100%;
  }
  .ro-img-container{
    display: flex;
    justify-content: center;
  }

  .ro-text, .ro-link a{
    font-size: 1rem;
  }


}

@media only screen and (max-width: 800px) {
  #friends {
    margin-top: 70px;
  }

  #friends-bucket {
    padding-top: 1rem;
  }

  .friends-box {
    width: 33.17675rem;
    height: 25.07544rem;
  }
}

@media only screen and (max-width: 600px) {
  .friends-box {
    width: 25.5rem;
    height: 20.25rem;
  }

  .ro-title {
    font-size: 1.3rem;
  }
}

@media only screen and (max-width: 450px) {
  #friends {
    margin-top: 10%;
  }

  .friends-box {
    width: 21.5rem;
    height: 16.25rem;
  }

  .ro-text, .ro-link a{
    font-size: 0.8rem;
  }

  .ro-img-container img{
    width: 100%;
  }

  .ro-title {
    font-size: 1rem;
  }

  .ro-container {
    justify-content: center;
    width: 90%;
  }

  .star-icon {
      width: 4.44vw;
  }

  .box {
      padding-left: 1rem;
      gap: 0.75rem;
      height: 3.25rem;

  }

}