#sponsors {
  margin-top: 7%;
  position: relative;
}

#sponsor-bucket {
  display: flex;
  align-items: center;
  flex-direction: row;
  align-self: flex-start;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2.5rem;
  padding-bottom: 9rem;
  padding-top: 2.0rem;
}

.sponsor-box {
  display: flex;
  width: 21.5rem;
  height: 16.25rem;
  justify-content: center;
  text-align: center;
  align-items: center;
  overflow: hidden;
  border-radius: 0.75rem;
  border: 1px solid var(--Purble, #A5A5CC);
  background: var(--off-black-40, rgba(30, 28, 34, 0.40));
}

#sponsors img {
  max-width: 15rem;
  max-height: 15rem;
}

.sponsor-box:hover {
  overflow-y: scroll;
  scrollbar-width: none;
}

.sponsor-box p {
  margin: 0.3rem;
}

#long-text {
  margin-top: 3rem;
}

#sponsors-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: auto;
}

#sponsors-header {
  font-size: 32px;
}

#sponsors {
  display: flex;
}

.sponsor-box:hover {
  background-color: rgb(16, 5, 40);
  transition: background-color .5s ease-out;
  -moz-transition: background-color .5s ease-out;
  -webkit-transition: background-color .5s ease-out;
  -o-transition: background-color .5s ease-out;
}

.hover-sponsor-logo {
  display: none;
}

@media only screen and (max-width: 1024px) {
  #sponsors {
    display: flex;
    justify-content: center;
  }

  #sponsor-bucket {
    padding-top: 1rem;
  }
}

@media only screen and (max-width: 800px) {
  #sponsors {
    margin-top: 70px;
  }

  #sponsor-bucket {
    padding-top: 1rem;
  }

  .sponsor-box {
    width: 33.17675rem;
    height: 25.07544rem;
  }
}

@media only screen and (max-width: 600px) {
  .sponsor-box {
    width: 25.5rem;
    height: 20.25rem;
  }
}

@media only screen and (max-width: 450px) {
  #sponsors {
    margin-top: 10%;
  }

  .sponsor-box {
    width: 21.5rem;
    height: 16.25rem;
  }
}



