#sponsor-bucket {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2.5rem;
  padding-bottom: 9rem;
  padding-top: 2.0rem;
}

.sponsor-box {
  display: flex;
  width: 21.5rem;
  height: 16.25rem;
  justify-content: center;
  text-align: center;
  align-items: center;
  border-radius: 0.75rem;
  border: 1px solid var(--Purble, #A5A5CC);
  background: var(--off-black-40, rgba(30, 28, 34, 0.40));
}

.sponsor-box p {
  margin: 0.3rem;
}

#sponsors-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#sponsors #sponsors-card h1 {
  font-size: 32px;
  margin-left: 6%;
}

#sponsors {
  display: flex;
  flex-direction: column;
}

.sponsor-box:hover {
  background-color: rgb(16, 5, 40);
  transition: background-color .5s ease-out;
  -moz-transition: background-color .5s ease-out;
  -webkit-transition: background-color .5s ease-out;
  -o-transition: background-color .5s ease-out;
}

.hover-sponsor-logo {
  display: none;
}




